body{
    margin: 0;
    height: 100vh;
    background-color: black;
}

span{
    background: url("https://cdn0.iconfinder.com/data/icons/ie_Valentine/256/love_valentines_day_11.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}